{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum laudantium necessitatibus perspiciatis porro quibusdam
    tenetur vero. Aut et ratione repudiandae. Ad ipsum laborum rem suscipit. Alias cupiditate magni odio placeat
    reprehenderit, voluptate. Alias aspernatur assumenda cum iusto nulla sit, ut?</p><p>Architecto atque officiis omnis.
    Assumenda, dolores doloribus magnam necessitatibus nesciunt nostrum quam sint? Aliquid amet animi beatae,
    consectetur consequuntur dolor dolore ea eos, harum illo ipsam iste libero magnam maxime nesciunt officiis placeat
    possimus quae quod soluta, sunt totam velit.</p>
{% endblock %}